whatsapp-chatbot/Whatsapp_Agent.json
{
  "name": "Whatsapp Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -100
      ],
      "id": "454d52fe-a2e3-43e4-9958-ed36cebcbc05",
      "name": "WhatsApp Trigger",
      "webhookId": "66e63fc7-99f3-4362-a9d9-72c93e79ceaf",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "hNkHNfzURI68Qc3C",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant called AA.\nRespond in a natural and friendly tone.\n\nYou are currently takling to {{ $json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        -100
      ],
      "id": "c40b0f08-d973-4b14-a021-8e55f4dae2e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        80
      ],
      "id": "3bcdaca5-3ef8-418d-b12f-d122a9cb50b6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ert1MpfonxvMJa7D",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        80
      ],
      "id": "75eb9782-07dd-47e4-812e-66c62ab918b1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09cf7aa7-13f6-4d71-a93e-3c14281176a6",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -100
      ],
      "id": "79bcd57f-479e-4cc6-a3f5-68da1916f787",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "e7806751-1a36-4a3d-98e7-2c5503bf8a2c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48cf2cf3-d590-48a2-a1b3-d4bb0d08a9b2",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c37b210c-d367-4c3b-9b10-5c662519e0a8",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        -100
      ],
      "id": "940e6646-9c0b-4711-91b9-85920ac732aa",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "700302889639508"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -180,
        -460
      ],
      "id": "4fe8a4a5-6af4-460d-8599-1d736c09b16a",
      "name": "Get Audio URL",
      "webhookId": "6d65f4e6-3e94-4085-b0ee-0f4a33781721",
      "credentials": {
        "whatsAppApi": {
          "id": "m9x9KnAhfuDTmkgc",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -460
      ],
      "id": "b6cc478d-1570-4146-9c66-9e8fc95554d1",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HPVrmSs1D0L1hMrs",
          "name": "Whatsapp Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        260,
        -460
      ],
      "id": "e5cd978d-7eb3-44a5-b78d-0a23a4e9bdee",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "ert1MpfonxvMJa7D",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "080585a2-efd4-4319-aea3-716106867b2a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -460
      ],
      "id": "6af75aa4-c7a1-4b9f-8c0e-16a62170a19b",
      "name": "Audio prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6b34f50-5cd9-443f-9e01-20398f0bc663",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        580,
        -100
      ],
      "id": "a8e93837-4188-43f4-a447-1086c06337b4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "647054368497272",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        780,
        100
      ],
      "id": "3e96fcec-ad16-4ccb-a063-4a79ce679f1b",
      "name": "Respond with Text",
      "webhookId": "f8e86e52-c64f-40c1-8ee3-e2285316183e",
      "credentials": {
        "whatsAppApi": {
          "id": "o8vYf8wMI9GS9wne",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        -200
      ],
      "id": "19af20c2-72da-4cdd-9776-02a0c3d90ecc",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "ert1MpfonxvMJa7D",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        -200
      ],
      "id": "7a3822ec-bae7-4aaf-baa5-b7cee3d43ea3",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "647054368497272",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1240,
        -200
      ],
      "id": "041addc6-955e-4741-bedd-2dd2497f985d",
      "name": "Respond with Audio",
      "webhookId": "594af631-8186-443b-b704-39af8896bc04",
      "credentials": {
        "whatsAppApi": {
          "id": "tUMwArSsmi6nRQx0",
          "name": "WhatsApp account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -260,
        340
      ],
      "id": "e744bdd0-1603-4cf2-9738-82012d3026ab",
      "name": "Get Image URL",
      "webhookId": "45caed8c-881b-4f87-896e-22c88dbcada7",
      "credentials": {
        "whatsAppApi": {
          "id": "m9x9KnAhfuDTmkgc",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        340
      ],
      "id": "bd7d450c-c10f-430c-9398-ac93df05b134",
      "name": "Download Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HPVrmSs1D0L1hMrs",
          "name": "Whatsapp Bot"
        },
        "openAiApi": {
          "id": "ert1MpfonxvMJa7D",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe this image in detail.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        340
      ],
      "id": "06f33d84-33e7-4512-bfba-9135e3e08f08",
      "name": "Analyse Image",
      "credentials": {
        "openAiApi": {
          "id": "ert1MpfonxvMJa7D",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abd3d3d1-57a9-451d-93fe-f7c087b210c7",
              "name": "text",
              "value": "=# The user provided the following image and text.\n\n## Image Description:\n{{ $json.content }}\n\n## User Message:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image.\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        340
      ],
      "id": "a07d113a-ca1c-4028-afbb-37d794e8cfb0",
      "name": "Image + text Prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Audio prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond with Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyse Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Image": {
      "main": [
        [
          {
            "node": "Image + text Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image + text Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc893b9e-cac9-4b2c-8273-a3235aea5541",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2a526bd35cc3a75a5538c2258ae57c2f42415e7de651376272a277eef59a608"
  },
  "id": "epxtIVE8TIdxIouC",
  "tags": []
}